
@{
    ViewBag.Title = "Index Admin";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.Phone.cshtml";
}

<!-- Page Heading -->
<a href="~/Admin/MyCharts/Index/1">Đồ thị</a><br/>
<a href="~/Admin/Tables/Summary">Thống kê</a>