
@{
    ViewBag.Title = "Index Admin";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.Phone.cshtml";
}

<!-- Page Heading -->
<a href="~/Admin/MyCharts/Index/1">Dữ liệu đồ thị</a><br/>
<a href="~/Admin/Tables/Summary">Thống kê bảng</a><br/>
<a href="~/Admin/UserAccount/Index">Tài khoản người dùng</a><br/>
<a href="~/Admin/UserAccount/ManageProvider">Tài khoản nhà cung cấp</a>
