
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Trang Chủ</h1>
    <a href="~/Admin/Tables/Summary" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Tạo báo cáo</a>
</div>

<!-- Content Row -->
<div class="row">

    <!-- Home Page -->

    <div class="col-xl-3 col-md-6 mb-4">
        <a href="~/Admin" style="color: inherit;">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col-2"><div><img src="~/Photos/icons8-home-80.png" style="width:40px;height:40px" /></div></div>
                        <div class="col-6"><div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Trang chủ</div> </div>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <!-- User Account Management -->
    <div class="col-xl-3 col-md-6 mb-4">
        <a href="~/Admin/UserAccount" style="color: inherit;">
            <div class="card border-left-secondary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col-2"><div><img src="~/Photos/icons8-user-account-80.png" style="width:40px;height:40px" /></div></div>
                        <div class="col-6"><div class="text-xs font-weight-bold text-gray-600 text-uppercase mb-1">Tài khoản đăng nhập</div> </div>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <!-- User Account Management -->
    <div class="col-xl-3 col-md-6 mb-4">
        <a href="~/Admin/MeasurementData" style="color: inherit;">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col-2"><div><img src="~/Photos/icons8-database-administrator-80.png" style="width:40px;height:40px" /></div></div>
                        <div class="col-6"><div class="text-xs font-weight-bold text-info text-uppercase mb-1">Dữ liệu đo</div> </div>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <!-- User Account Management -->
    <div class="col-xl-3 col-md-6 mb-4">
        <a href="~/Admin/PhotoAlbums" style="color: inherit;">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col-2"><div><img src="~/Photos/icons8-gallery-80.png" style="width:40px;height:40px" /></div></div>
                        <div class="col-6"><div class="text-xs font-weight-bold text-success text-uppercase mb-1">Hình ảnh</div> </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>
<!-- Content Row -->
<div class="row">
    <div class="col-12 mb-2">
        <div class="h4 mb-0 text-body">
            Dữ liệu đo mới nhất
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link" id="nav-temp-tab" data-toggle="tab" href="#nav-temp" role="tab" aria-controls="nav-temp" aria-selected="false">Nhiệt độ</a>
                <a class="nav-item nav-link" id="nav-airHum-tab" data-toggle="tab" href="#nav-airHum" role="tab" aria-controls="nav-airHum" aria-selected="false">Độ ẩm không khí</a>
                <a class="nav-item nav-link" id="nav-soilHum-tab" data-toggle="tab" href="#nav-soilHum" role="tab" aria-controls="nav-soilHum" aria-selected="false">Độ ẩm đất</a>
                <a class="nav-item nav-link active" id="nav-rainy-tab" data-toggle="tab" href="#nav-rainy" role="tab" aria-controls="nav-rainy" aria-selected="true">Lượng mưa</a>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent" style="height:650px;">
            <div class="tab-pane fade active" id="nav-temp" role="tabpanel" aria-labelledby="nav-temp-tab"><canvas id="temperatureChart" style="height: 650px; width: 100%;"></canvas></div>
            <div class="tab-pane fade active" id="nav-airHum" role="tabpanel" aria-labelledby="nav-airHum-tab"><canvas id="airHumidityChart" style="height: 650px; width: 100%;"></canvas></div>
            <div class="tab-pane fade active" id="nav-soilHum" role="tabpanel" aria-labelledby="nav-soilHum-tab"><canvas id="soilHumidityChart" style="height: 650px; width: 100%;"></canvas></div>
            <div class="tab-pane fade active show" id="nav-rainy" role="tabpanel" aria-labelledby="nav-rainy-tab"><canvas id="rainyChart" style="height: 650px; width: 100%;"></canvas></</div>
        </div>
    </div>
</div>


@section Scripts
{
    <script>


        // Set new default font family and font color to mimic Bootstrap's default styling
        Chart.defaults.global.defaultFontFamily = 'Nunito', '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
        Chart.defaults.global.defaultFontColor = '#858796';
        var labelList =@Html.Raw(ViewBag.MLocation);

        function temperatureChart() {
            var result = @Html.Raw(ViewBag.TemperatureData);
            var dataPointsX = [];
            var dataPointsY1 = [];
            var dataPointsY2 = [];
            var dataPointsY3 = [];
            var dataPointsY4 = [];
            var dataPointsY5 = [];
for (var i = (result.length-1); i >=0; i--){
        strDate = result[i].x;
    var d = new Date(strDate.replace('T', ' '));
    var strMonth = d.getMonth() + 1;
    var xlabel = d.getDate() + '/' + strMonth + ' ' + d.getHours() + ':' + d.getMinutes();
        dataPointsX.push(xlabel);
    dataPointsY1.push(result[i].y1);
    dataPointsY2.push(result[i].y2);
    dataPointsY3.push(result[i].y3);
    dataPointsY4.push(result[i].y4);
    dataPointsY5.push(result[i].y5);

            }

  // Area Chart Example
        var ctx = document.getElementById("temperatureChart");
            var myLineChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: dataPointsX,
                datasets: [{
                    label: labelList[0],
                    backgroundColor: "rgb(255,255,255)",
                    borderColor: '#f5ad42',
                    data: dataPointsY1,
                    fill: false,
                },
                    {
                    label: labelList[1],
                    backgroundColor: "rgb(255,255,255)",
					borderColor: '#424bf5',
                    data: dataPointsY2,
                    fill:false,
                },{
                    label: labelList[2],
                    backgroundColor: "rgb(255,255,255)",
					borderColor: '#dc23f2',
                    data: dataPointsY3,
                    fill:false,
                },{
                    label: labelList[3],
                    backgroundColor: "rgb(255,255,255)",
					borderColor: '#a21c12',
                    data: dataPointsY4,
                    fill:false,
                },{
                    label: labelList[4],
                    backgroundColor: "rgb(255,255,255)",
					borderColor: '#42f545',
                    data: dataPointsY5,
                    fill:false,
                }]
                },
            options: {
                maintainAspectRatio: false,
                layout: {
                    padding: {
                        left: 10,
                        right: 25,
                        top: 25,
                        bottom: 0
                    }
                },
                scales: {
                    xAxes: [{
                        time: {
                            unit: 'date'
                        },
                        gridLines: {
                            display: false,
                            drawBorder: false
                        },
                        ticks: {
                            maxTicksLimit: 10
                        },

                    }],
                    yAxes: [{
                        ticks: {
                            min: 0,
                            max: 40,
                            maxTicksLimit: 10,
                            padding: 10,
                            // Include a dollar sign in the ticks
                            callback: function (value, index, values) {
                                return value;
                            }
                        },
                        gridLines: {
                            color: "rgb(234, 236, 244)",
                            zeroLineColor: "rgb(234, 236, 244)",
                            drawBorder: false,
                            borderDash: [2],
                            zeroLineBorderDash: [2]
                        },

                    }],
                },
                legend: {
                    display: true
                },
                tooltips: {
                    backgroundColor: "rgb(255,255,255)",
                    bodyFontColor: "#858796",
                    titleMarginBottom: 10,
                    titleFontColor: '#6e707e',
                    titleFontSize: 14,
                    borderColor: '#dddfeb',
                    borderWidth: 1,
                    xPadding: 15,
                    yPadding: 15,
                    displayColors: false,
                    intersect: false,
                    mode: 'index',
                    caretPadding: 10,
                    callbacks: {
                        label: function (tooltipItem, chart) {
                            var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
                            return datasetLabel +': '+ tooltipItem.yLabel+'°C';
                        }
                    }
                }
            }
            });
            $('#nav-temp').hide();
        }
        function airHumidityChart() {
            var result = @Html.Raw(ViewBag.AirHumidityData);
             var dataPointsX = [];
            var dataPointsY1 = [];
            var dataPointsY2 = [];
            var dataPointsY3 = [];
            var dataPointsY4 = [];
            var dataPointsY5 = [];
for (var i = (result.length-1); i >=0; i--){
        strDate = result[i].x;
    var d = new Date(strDate.replace('T', ' '));
    var strMonth = d.getMonth() + 1;
    var xlabel = d.getDate() + '/' + strMonth + ' ' + d.getHours() + ':' + d.getMinutes();
        dataPointsX.push(xlabel);
    dataPointsY1.push(result[i].y1);
    dataPointsY2.push(result[i].y2);
    dataPointsY3.push(result[i].y3);
    dataPointsY4.push(result[i].y4);
    dataPointsY5.push(result[i].y5);
            }

  // Area Chart Example
        var ctx = document.getElementById("airHumidityChart");
            var myLineChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: dataPointsX,
                datasets: [{
                    label: labelList[0],
                    backgroundColor: "rgb(255,255,255)",
                    borderColor: '#f5ad42',
                    data: dataPointsY1,
                    fill: false,
                },
                {
                    label: labelList[1],
                    backgroundColor: "rgb(255,255,255)",
					borderColor: '#424bf5',
                    data: dataPointsY2,
                    fill:false,
                },{
                    label: labelList[2],
                    backgroundColor: "rgb(255,255,255)",
					borderColor: '#dc23f2',
                    data: dataPointsY3,
                    fill:false,
                },{
                    label: labelList[3],
                    backgroundColor: "rgb(255,255,255)",
					borderColor: '#a21c12',
                    data: dataPointsY4,
                    fill:false,
                },{
                    label: labelList[4],
                    backgroundColor: "rgb(255,255,255)",
					borderColor: '#42f545',
                    data: dataPointsY5,
                    fill:false,
                }]
                },
            options: {
                maintainAspectRatio: false,
                layout: {
                    padding: {
                        left: 10,
                        right: 25,
                        top: 25,
                        bottom: 0
                    }
                },
                scales: {
                    xAxes: [{
                        time: {
                            unit: 'date'
                        },
                        gridLines: {
                            display: false,
                            drawBorder: false
                        },
                        ticks: {
                            maxTicksLimit: 10
                        },

                    }],
                    yAxes: [{
                        ticks: {
                            min: 0,
                            max: 100,
                            maxTicksLimit: 10,
                            padding: 10,
                            // Include a dollar sign in the ticks
                            callback: function (value, index, values) {
                                return value;
                            }
                        },
                        gridLines: {
                            color: "rgb(234, 236, 244)",
                            zeroLineColor: "rgb(234, 236, 244)",
                            drawBorder: false,
                            borderDash: [2],
                            zeroLineBorderDash: [2]
                        },

                    }],
                },
                legend: {
                    display: true
                },
                tooltips: {
                    backgroundColor: "rgb(255,255,255)",
                    bodyFontColor: "#858796",
                    titleMarginBottom: 10,
                    titleFontColor: '#6e707e',
                    titleFontSize: 14,
                    borderColor: '#dddfeb',
                    borderWidth: 1,
                    xPadding: 15,
                    yPadding: 15,
                    displayColors: false,
                    intersect: false,
                    mode: 'index',
                    caretPadding: 10,
                    callbacks: {
                        label: function (tooltipItem, chart) {
                            var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
                            return datasetLabel +': '+ tooltipItem.yLabel+'%';
                        }
                    }
                }
            }
        });
        $('#nav-airHum').hide();
        }
               function soilHumidityChart() {
            var result = @Html.Raw(ViewBag.SoilHumidityData);
             var dataPointsX = [];
            var dataPointsY1 = [];
            var dataPointsY2 = [];
            var dataPointsY3 = [];
            var dataPointsY4 = [];
            var dataPointsY5 = [];
for (var i = (result.length-1); i >=0; i--){
        strDate = result[i].x;
    var d = new Date(strDate.replace('T', ' '));
    var strMonth = d.getMonth() + 1;
    var xlabel = d.getDate() + '/' + strMonth + ' ' + d.getHours() + ':' + d.getMinutes();
        dataPointsX.push(xlabel);
    dataPointsY1.push(result[i].y1);
    dataPointsY2.push(result[i].y2);
    dataPointsY3.push(result[i].y3);
    dataPointsY4.push(result[i].y4);
    dataPointsY5.push(result[i].y5);
            }

  // Area Chart Example
        var ctx = document.getElementById("soilHumidityChart");
            var myLineChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: dataPointsX,
                datasets: [{
                    label: labelList[0],
                    backgroundColor: "rgb(255,255,255)",
                    borderColor: '#f5ad42',
                    data: dataPointsY1,
                    fill: false,
                },
                {
                    label: labelList[1],
                    backgroundColor: "rgb(255,255,255)",
					borderColor: '#424bf5',
                    data: dataPointsY2,
                    fill:false,
                },{
                    label: labelList[2],
                    backgroundColor: "rgb(255,255,255)",
					borderColor: '#dc23f2',
                    data: dataPointsY3,
                    fill:false,
                },{
                    label: labelList[3],
                    backgroundColor: "rgb(255,255,255)",
					borderColor: '#a21c12',
                    data: dataPointsY4,
                    fill:false,
                },{
                    label: labelList[4],
                    backgroundColor: "rgb(255,255,255)",
					borderColor: '#42f545',
                    data: dataPointsY5,
                    fill:false,
                }]
                },
            options: {
                maintainAspectRatio: false,
                layout: {
                    padding: {
                        left: 10,
                        right: 25,
                        top: 25,
                        bottom: 0
                    }
                },
                scales: {
                    xAxes: [{

                        time: {
                            unit: 'date'
                        },
                        gridLines: {
                            display: false,
                            drawBorder: false
                        },
                        ticks: {
                            maxTicksLimit: 10
                        },

                    }],
                    yAxes: [{
                        ticks: {
                            min: 0,
                            max: 100,
                            maxTicksLimit: 10,
                            padding: 10,
                            // Include a dollar sign in the ticks
                            callback: function (value, index, values) {
                                return value;
                            }
                        },
                        gridLines: {
                            color: "rgb(234, 236, 244)",
                            zeroLineColor: "rgb(234, 236, 244)",
                            drawBorder: false,
                            borderDash: [2],
                            zeroLineBorderDash: [2]
                        },

                    }],
                },
                legend: {
                    display: true
                },
                tooltips: {
                    backgroundColor: "rgb(255,255,255)",
                    bodyFontColor: "#858796",
                    titleMarginBottom: 10,
                    titleFontColor: '#6e707e',
                    titleFontSize: 14,
                    borderColor: '#dddfeb',
                    borderWidth: 1,
                    xPadding: 15,
                    yPadding: 15,
                    displayColors: false,
                    intersect: false,
                    mode: 'index',
                    caretPadding: 10,
                    callbacks: {
                        label: function (tooltipItem, chart) {
                            var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
                            return datasetLabel +': '+ tooltipItem.yLabel+'%';
                        }
                    }
                }
            }
        });
        $('#nav-soilHum').hide();
        }
    function rainyChart() {
            var result = @Html.Raw(ViewBag.RainyData);
             var dataPointsX = [];
            var dataPointsY1 = [];
            var dataPointsY2 = [];
            var dataPointsY3 = [];
            var dataPointsY4 = [];
            var dataPointsY5 = [];
for (var i = (result.length-1); i >=0; i--){
        strDate = result[i].x;
    var d = new Date(strDate.replace('T', ' '));
    var strMonth = d.getMonth() + 1;
    var xlabel = d.getDate() + '/' + strMonth + ' ' + d.getHours() + ':' + d.getMinutes();
        dataPointsX.push(xlabel);
    dataPointsY1.push(result[i].y1);
    dataPointsY2.push(result[i].y2);
    dataPointsY3.push(result[i].y3);
    dataPointsY4.push(result[i].y4);
    dataPointsY5.push(result[i].y5);
            }

  // Area Chart Example
        var ctx = document.getElementById("rainyChart");
            var myLineChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: dataPointsX,
                datasets: [{
                    label: labelList[0],
                    backgroundColor: '#f5ad42',
                    borderColor: '#f5ad42',
                    data: dataPointsY1,
                    fill: false,
                },
                {
                    label: labelList[1],
                    backgroundColor: '#424bf5',
					borderColor: '#424bf5',
                    data: dataPointsY2,
                    fill:false,
                },{
                    label: labelList[2],
                    backgroundColor: '#dc23f2',
					borderColor: '#dc23f2',
                    data: dataPointsY3,
                    fill:false,
                },{
                    label: labelList[3],
                    backgroundColor: '#a21c12',
					borderColor: '#a21c12',
                    data: dataPointsY4,
                    fill:false,
                },{
                    label: labelList[4],
                    backgroundColor: '#42f545',
					borderColor: '#42f545',
                    data: dataPointsY5,
                    fill:false,
                }]
                },
            options: {
                maintainAspectRatio: false,
                layout: {
                    padding: {
                        left: 10,
                        right: 25,
                        top: 25,
                        bottom: 0
                    }
                },
                scales: {
                    xAxes: [{
                        time: {
                            unit: 'date'
                        },
                        gridLines: {
                            display: false,
                            drawBorder: false
                        },
                        ticks: {
                            maxTicksLimit: 10
                        },

                    }],
                    yAxes: [{
                        ticks: {
                            min: 0,
                            max: 500,
                            maxTicksLimit: 10,
                            padding: 10,
                            // Include a dollar sign in the ticks
                            callback: function (value, index, values) {
                                return value;
                            }
                        },
                        gridLines: {
                            color: "rgb(234, 236, 244)",
                            zeroLineColor: "rgb(234, 236, 244)",
                            drawBorder: false,
                            borderDash: [2],
                            zeroLineBorderDash: [2]
                        },

                    }],
                },
                legend: {
                    display: true
                },
                tooltips: {
                    backgroundColor: "rgb(255,255,255)",
                    bodyFontColor: "#858796",
                    titleMarginBottom: 10,
                    titleFontColor: '#6e707e',
                    titleFontSize: 14,
                    borderColor: '#dddfeb',
                    borderWidth: 1,
                    xPadding: 15,
                    yPadding: 15,
                    displayColors: false,
                    intersect: false,
                    mode: 'index',
                    caretPadding: 10,
                    callbacks: {
                        label: function (tooltipItem, chart) {
                            var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
                            return datasetLabel +': '+ tooltipItem.yLabel+' mm';
                        }
                    }
                }
            }
        });
      //  $('#nav-rainy').hide();
        }
        window.onload = function () {
            temperatureChart();
            airHumidityChart();
            soilHumidityChart();
            rainyChart();
        };
        $('#nav-temp-tab').on('click', function () {
            $('#nav-airHum').hide();
            $('#nav-soilHum').hide();
            $('#nav-rainy').hide();
            $('#nav-temp').show();
        });

         $('#nav-airHum-tab').on('click', function () {
            $('#nav-temp').hide();
            $('#nav-soilHum').hide();
            $('#nav-rainy').hide();
            $('#nav-airHum').show();
         });
         $('#nav-soilHum-tab').on('click', function () {
            $('#nav-temp').hide();
            $('#nav-airHum').hide();
            $('#nav-rainy').hide();
            $('#nav-soilHum').show();
         });
          $('#nav-rainy-tab').on('click', function () {
            $('#nav-temp').hide();
            $('#nav-airHum').hide();
            $('#nav-soilHum').hide();
            $('#nav-rainy').show();
        });
    </script>
}

